$mainColor1: #2f74c0;
$mainColor2: #2c3a47;
$mainColor3: #ffffff;

$xxxxxxl: 1440px;
$xxxxxl: 1200px;
$xxxxl: 1024px;
$xxxl: 950px;
$xxxlv2: 768px;
$xxl: 540px;
$xl: 450px;
$l: 400px;
$m: 350px;
$s: 280px;
