$navbarBackgroundColor :#222f3e;
.footer{
    background-color: $navbarBackgroundColor;

    text-align: center;
    .footertext{
        display:flex;
        justify-content:center;
        color: white;
        text-shadow: 10px 10px 10px black;
        font-family: 'Work Sans', sans-serif;
    }
}