// @import url("https://fonts.googleapis.com/css?family=Merriweather:300|Work+Sans:700,800");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=M+PLUS+1p:wght@300&display=swap');

$backgroundColor: #1dd1a1;
$navbarBackgroundColor :#015761;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  ::selection {
    background: $backgroundColor;
  }
}
html,
body {
  height: 100%;
  // font-family: 'Work Sans', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
  .section1{
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2{
    width: 100%;
    background-color: white;
    padding: 10rem;
  }
  .section3{
    width: 100%;
    
    background-color:$navbarBackgroundColor ;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}