// @import url("https://fonts.googleapis.com/css?family=Merriweather:300|Work+Sans:700,800");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=M+PLUS+1p:wght@300&display=swap');


@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  ::selection {
    background: $mainColor2;
  }
}
html,
body {
  height: 100%;
  // font-family: 'Work Sans', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
  .section1{
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $xxxl) {
      padding-top: 20rem;
      padding-left: 5rem;
      padding-right: 5rem;
      
    }
    @media screen and (max-width: $xxl) {
      padding-top: 25rem;
      padding-left: 1rem;
      padding-right: 1rem;

    }
    @media screen and (max-width: $xl) {
      padding-top:25rem;
    }
    @media screen and (max-width: $l) {
      padding-top:24rem;
    }

  }
  .section2{
    width: 100%;
    background-color: white;
    padding: 10rem;
    @media screen and (max-width: $xxxl) {
      padding:5rem;
    }
    @media screen and (max-width: $m) {
      padding-top:10rem;
    }
    
  }
  .section3{
    width: 100%;
    
    max-height: 14rem;
    background-color:$mainColor1 ;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}