$iconColor: #015761;
$iconHover :#F6DB4F;
.projectDetail{
    height: 100vh;
    padding-top: 10rem;
    width: 70%;
    margin:0 auto;
    .icon{
        color: $iconColor;
        &:hover{
            color: $iconHover;
        }
    }
    .projectName{
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: $iconColor;
    }
    .main{
        font-size: 2rem;
        padding: 2rem;
        height: 40vh;
        margin:2rem auto;
        display: flex;
        flex-direction: row;
        .links{
            
            .connectionButton{
                width: 15rem;
                height: 2.5rem;
                border: none;
                font-size: 1.5rem;
                background-color: $iconColor;
                border-radius: 1rem;
                margin: auto;
                &:hover{
                    background-color: $iconHover;
                }
                
                a{
                    text-decoration: none;
                    color: white;

                }
            }
            
           
        }
    }
    
}