
@import "variables";
.projectDetail{
    height: 100vh;
    padding-top: 10rem;
    width: 70%;
    margin:0 auto;
    .icon{
        color: $mainColor1;
        cursor: pointer;
        &:hover{
            color: $mainColor2;
        }
    }
    .projectName{
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: $mainColor2;
    }
    .main{
        font-size: 2rem;
        padding: 2rem;
        height: 40vh;
        margin:2rem auto;
        display: flex;
        flex-direction: row;
        .links{
            
            .connectionButton{
                width: 15rem;
                height: 2.5rem;
                border: none;
                font-size: 1.5rem;
                background-color: $mainColor1;
                border-radius: 1rem;
                margin: auto;
                &:hover{
                    background-color: $mainColor2;
                }
                
                a{
                    text-decoration: none;
                    color: white;

                }
            }
            
           
        }
    }
    
}